body, table, tr {
    background-color: honeydew;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.completed {
    background-color: greenyellow;
}